# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/glowing-octo-guide.iml
